<h3>
    <span id="version_display_welcome">{{displayVersion}}</span>
</h3>
<!-- <a href="https://docs.sillytavern.app/usage/update/" target="_blank" data-i18n="Want to update?">
    Want to update?
</a> -->
<h2>[柒蓝-公益]云酒馆3号</h2>
<h1>声明</h1>
<ul>
    <li>
        本酒馆由柒蓝提供和维护，免费使用和注册无付费服务。不提供任模型接口！
    </li>
    <li>
        本酒馆环境为谷歌云 GCP 纯 原生 IP。
        <img  src="https://img.vvl.us.kg/1736868822821.png">
    </li>
    <li>
        本酒馆不偷KEY秘钥，谁偷谁出门被撞死，就这么说!
    </li>
    <li>
        <h2>
        江湖路路漫漫，希望国内互联网少点谩骂多点鼓励！
        </h2>
    </li>
</ul>
<h3>
    <a href="https://txc.qq.com/products/690230" target="_blank" data-i18n="-公益酒馆问题反馈-">
    公益酒馆问题反馈
</h3>
<h3>
    <a href="https://qm.qq.com/q/lmENgR2isM" target="_blank" data-i18n="点击链接加入群聊【新人云酒馆自习室】">
    点击链接加入群聊【新人云酒馆自习室】
</h3>
<h3>广告专区</h3>
<ul>
    <li>
        <h3>
       <a href="https://shop1.shigure.top/?code=YT0z" target="_blank" data-i18n="-小波中转API获取地址①-">
    小波中转API购买地址①
    </h3>
    </li>
    <li>
        <h3>
        <a href="https://www.qianxun1688.com/links/9F9309BB" target="_blank" data-i18n="-小波中转API获取地址②-">
    小波中转API购买地址②
    </h3>
    </li>
</ul>
<h3 data-i18n="How to start chatting?">How to start chatting?</h3>
<ol>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
            <i class="fa-solid fa-plug"></i>
            <span data-i18n="API Connections">API Connections</span>
        </button>
        <span data-i18n="and connect to an">and connect to an</span>
        <a href="https://docs.sillytavern.app/usage/api-connections/" target="_blank">
            <span class="fa-solid fa-circle-question"></span>
            <span data-i18n="API">API</span></a>.
    </li>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
            <i class="fa-solid fa-address-card"></i>
            <span data-i18n="Character Management">Character Management</span>
        </button>
        <span data-i18n="and pick a character."> and pick a character.</span>
    </li>
</ol>

<div>
    <span data-i18n="You can add more">You can add more</span>
    <button class="open_characters_library menu_button menu_button_icon inline-flex">
        <i class="fa-solid fa-image-portrait"></i>
        <span data-i18n="Sample characters">Sample characters</span>
    </button>
    <span data-i18n="or;or_welcome">or</span>
    <button class="external_import_button menu_button menu_button_icon inline-flex">
        <i class="fa-solid fa-cloud-arrow-down"></i>
        <span data-i18n="Import Characters">Import characters</span>
    </button>
    <span data-i18n="from other websites">from other websites.</span>
</div>
<div>
    <span data-i18n="Go to the">Go to the</span>

    <i data-i18n="Download Extensions & Assets">Download Extensions & Assets</i>
    <span data-i18n="menu within">menu within</span>

    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="extensions-settings-button">
        <i class="fa-solid fa-cubes"></i>
        <span data-i18n="Extensions">Extensions</span>
    </button>

    <span data-i18n="to install additional features.">to install additional features.</span>
</div>

<h3 data-i18n="Confused or lost?">Confused or lost?</h3>
<ul>
    <li>
        <span class="note-link-span"><a class="fa-solid fa-circle-question" target="_blank" href="https://docs.sillytavern.app/"></a></span> - <span data-i18n="click these icons!">click these icons!</span>
    </li>
    <li>
        <span data-i18n="Enter">Enter </span><code>/?</code><span data-i18n="in the chat bar"> in the chat bar</span>
    </li>
    <li>
        <a target="_blank" href="https://docs.sillytavern.app/" data-i18n="SillyTavern Documentation Site">
            SillyTavern Documentation Site
        </a>
    </li>
</ul>

<h3 data-i18n="Still have questions?">Still have questions?</h3>
<ul>
    <li>
        <a target="_blank" href="https://discord.gg/sillytavern" data-i18n="Join the SillyTavern Discord">
            Join the SillyTavern Discord
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern/issues" data-i18n="Post a GitHub issue">
            Post a GitHub issue
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern#questions-or-suggestions" data-i18n="Contact the developers">
            Contact the developers
        </a>
    </li>
</ul>
